.form {
  display: flex;
  border-top: 2px solid #2b2b2b;
  height: 7%;
}

.input {
  color: #757575;
  border: none;
  border-radius: 0;
  padding: 1%;
  width: 95%;
  font-size: 1.1em;
  background-color: #333;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.sendButton {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #2979ff;
  /* font-size: 1.2em; */
  padding: 1%;
  display: inline-block;
  border: none;
  width: 5%;
  height: 100%;
}
